In [1]:
import numpy as np
import pandas as pd
import psycopg2
import os

In [2]:
cwd = os.getcwd()
path = os.path.join(cwd,r'20190524-1131-Reversing-500mms-HMIVergleich-NCOnly.csv')

df = pd.read_csv(path, skiprows=7, delimiter='\t', decimal = ',', index_col ="Name")
df

          ActPos  SetPos   PosDiff  PosDiffR1  PosDiffR2  SetVelo
Name
0     450.008876   450.0 -0.007936   0.001341   0.000162      0.0
1     450.009978   450.0 -0.007943   0.001341   0.000162      0.0
2     450.008872   450.0 -0.008126   0.001341   0.000162      0.0
3     450.007983   450.0 -0.008305   0.001341   0.000162      0.0
4     450.009284   450.0 -0.008418   0.001341   0.000162      0.0
...          ...     ...       ...        ...        ...      ...
5229  449.966831   450.0  0.036863   0.001341   0.000162      0.0
5230  449.969032   450.0  0.035689   0.001341   0.000162      0.0
5231  449.968760   450.0  0.034219   0.001341   0.000162      0.0
5232  449.969496   450.0  0.033335   0.001341   0.000162      0.0
5233  449.969326   450.0  0.032426   0.001341   0.000162      0.0

[5234 rows x 6 columns]

#Below an example is provided how to store the decentral data files centrally in a database. Please replace user specific credentials within the '' accordingly.

In [19]:
import psycopg2
from io import StringIO

# Connection parameters
param_dic = {
    "host"      : "",
    "database"  : "",
    "user"      : "",
    "password"  : ""
}

#Credit to Naysan Saran. https://naysan.ca/2020/06/21/pandas-to-postgresql-using-psycopg2-copy_from/

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn


def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index_label='id', header=False)
    buffer.seek(0)

    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:

        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("copy_from_stringio() done")
    cursor.close()

In [20]:
conn = connect(param_dic) # connect to the database
cursor = conn.cursor() # set cursor

# CREATE TABLE
list1 = list(df.keys()) #use column labels for SQL query
string1 = "CREATE TABLE hmi_demonstrator (id int"
for label in list1:
    string1 += (", " + label + " decimal")
string1 = string1 + ");"
#print(string1)
cursor.execute(string1) #execute SQL query

copy_from_stringio(conn, df, "hmi_demonstrator") # copy the dataframe to DataBase
conn.close() # close the connection

Connecting to the PostgreSQL database...
Connection successful
copy_from_stringio() done